<div class="container">
    <div class="col-md-12">
		<div class="map">
			<agm-map 
			[latitude]="lat" 
			[longitude]="lng" 
			[zoom]="zoom"
			[disableDefaultUI]=false
			[zoomControl]="false">
			<agm-marker 
				*ngFor="let m of markers; let i = index"
				(markerClick)="clickedMarker(m.name, i)"
				[latitude]="m.lat"
				[longitude]="m.lng"
				[label]="m.name"
				[markerDraggable]="m.draggable"
			>		
			</agm-marker>
			<agm-polyline  [strokeColor]="'#DF0101'">
				<ng-container *ngFor="let i of latlng">
				<agm-polyline-point [latitude]="i.latitude" [longitude]="i.longitude">
				</agm-polyline-point>
			</ng-container>
			</agm-polyline>
			<!-- Bordear suramerica
			<agm-polyline  [strokeColor]="'#0B0B61'">
				<ng-container *ngFor="let i of southAmerica">
				<agm-polyline-point [latitude]="i.latitude" [longitude]="i.longitude">
				</agm-polyline-point>
			</ng-container>
			</agm-polyline>
			-->

				</agm-map>
		</div>
		<div class="row">
			<div class="col-md-12">
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h3 class="panel-title">Puerto de salida</h3>
				</div>
				<div class="panel-body">
				  <form (submit)="addStartMarker()">
					<label>Latitud</label>
					<input type="text" [(ngModel)]="markerStartLat" name="markerStartLat">
	  
					<label>Longitud</label>
					<input type="text" [(ngModel)]="markerStartLng" name="markerStartLng">
	  
					<input type="submit" value="Agregar">
					Ej. //lat: -24.526072,        lng: -28.068980
				  </form>
				</div>
			  </div>
			</div>
		  </div>
	  
		  <div class="row">
			  <div class="col-md-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h3 class="panel-title">Puerto de destino</h3>
				  </div>
				  <div class="panel-body">
					<form (submit)="addDestinationMarker()">
					  <label>Latitud</label>
					  <input type="text" [(ngModel)]="markerDestinationLat" name="markerDestinationLat">
		
					  <label>Longitud</label>
					  <input type="text" [(ngModel)]="markerDestinationLng" name="markerDestinationLng">
		
					  <input type="submit" value="Agregar">
					 Ej. //lat: 41.903146,        lng: -149.885387 
					</form>
				  </div>
				</div>
			  </div>
			</div>
	  
			<div class="row">
				<div class="col-md-12">
				  <div class="panel panel-default">
					<div class="panel-heading">
					  <h3 class="panel-title">Día</h3>
					</div>
					<div class="panel-body">
					  <form (submit)="addDays()">
						<label>Días del trayecto</label>
						<input type="text" [(ngModel)]="markerDays" name="markerDays">
	  
						<label>Día en que va el barco</label>
						<input type="text" [(ngModel)]="markerDay" name="markerDay">
						<input type="submit" value="Agregar Día">
					  </form>
					</div>
				  </div>
				</div>
			  </div>
			  <form (submit)="findRoute()">
				<input type="submit" value="Calcular">
			  </form>
			 <h2>
			   <strong>Porcentaje del trayecto: {{percent}}%</strong> 
			</h2> 
</div>
