
a { 
    margin: 2em ;  
}
 
a.boton {
  text-decoration: none;
  background: rgb(52, 58, 64);
  border: 1px outset #CCC;
  border-radius: 20px;
  color: rgb(247, 242, 242);
  display: inline-table;  
  padding: 1em 1em;
}
 
a.boton:hover {
  background: #CCB;
  color: rgb(0, 0, 0);
}
 
a.boton:active {
  border: 1px inset #000;
}

form#contract fieldset {
	border: none;
	margin-bottom: 10px;
}
form#contract fieldset:last-of-type {
	margin-bottom: 0;
}
form#contract legend {
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #a6b2f1;
}
form#contract > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}
form#contract fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}
form#contract ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}
form#contract ol ol li {
	background: none;
	border: none;
	float: left;
}
form#contract label {
	float: left;
	font-size: 13px;
	width: 110px;
}
form#contract fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}

form#contract fieldset fieldset label:hover {
	cursor: pointer;
}
form#contract input:not([type=radio]),
form#contract textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 200px;
}
form#contract input:not([type=submit]):focus,
form#contract textarea:focus {
	background: #eaeaea;
}
form#contract input[type=radio] {
	float: left;
	margin-right: 5px;
}
form#contract button {
	background: #343A40;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #ffffff;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}
form#contract button:hover {
    background: #CCB;
    color: #343A40;
	cursor: pointer;
}

.content{
    background: #343A40;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius:  5px 40px 5px 5px;    
	padding: 20px;
    display: inline-table;
    margin: 2em;
}